*{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: calc(30px + 6vmin);
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body{
  width: 100vw;
  height: calc(100vh - 30px - 6vmin);
  display: flex;
  justify-content: center;
  align-items: center;
}


.build_surrounding_square {
  display: flex;
  flex-direction: row;
  width: calc(90vmin+10px);
  height: 74vmin;
  margin: auto;
  background-color: white;
  border: rgb(252, 186, 3) 1vmin solid;
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 5px 5px rgb(252, 186, 3);
}

@media all and (min-width: 769px) {
  .surrounding-square{
    width: 65vmin;
    height: 83vmin;
    margin: auto;
    background-color: white;
    border: rgb(252, 186, 3) 1vmin solid;
  }

  .grid-style-build{
    height: "70vmin";
    width: "70vmin";
    margin: "2vmin";
  }

  .grid-style-battle{
    height: 60vmin;
    width: 60vmin;
    margin: 2vmin;
  }

  .cell-style-build{
    background-size: calc(14vmin - 2px) calc(14vmin - 2px);
    height: 14vmin;
    width: 14vmin;
    border: 1px solid black;
    outline: none;
  }

  .cell-style-battle{
    background-size: calc(12vmin - 2px) calc(12vmin - 2px);
    height: 12vmin;
    width: 12vmin;
    border: 1px solid black;
    outline: none;
  }
}

@media all and (max-width: 768px) {
  .surrounding-square{
    width: 90vmin;
    height: 112vmin;
    margin: auto;
    background-color: white;
    border: rgb(252, 186, 3) 1vmin solid;
  }

  .grid-style-build{
    height: 70vmin;
    width: 70vmin;
    margin: 2vmin;
  }

  .grid-style-battle{
    height: 85vmin;
    width: 85vmin;
    margin: 2vmin;
  }

  .cell-style-build{
    background-size: calc(14vmin - 2px) calc(14vmin - 2px);
    height: 14vmin;
    width: 14vmin;
    border: 1px solid black;
    outline: none;
  }

  .cell-style-battle{
    background-size: calc(17vmin - 2px) calc(17vmin - 2px);
    height: 17vmin;
    width: 17vmin;
    border: 1px solid black;
    outline: none;
  }
}

